.dictTitle {
  color: #000;
  
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dictDesc {
  color: #000;
  width: 528px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textWithIcon {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
}
.dictBreak{
  height: 1px;
  background: rgba(0, 0, 0, 0.20);
  margin-bottom: 30px;
  margin-top: 30px;
}
.SearchBlock{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.SearchInput{
  width: 568px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 9px !important;
  background-color: rgba(0,0,0,.06) !important;
  border: none !important;
  padding: 1px 18px !important;
}
.WordDesc {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ResultBlock {
  margin-bottom: 50px;
  margin-right: 24px;
}
.KeyButton {
  cursor: pointer;
  display: flex;
  margin: 2.5px;
  width: 37px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.06);
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.KeyButton:hover {
  background: #0091d5;
  color: #fff;
}
.KeyButtonSelected{
  background: #0091d5;
  color: #fff;
}
.Keyboard {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px
}
.keyAll{
  width: 55px;
}
.headerChar{
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}
.ResultBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.headerBreak{
  margin-bottom: 15px;
}
.addWordButton{
  width: 173px;
  height: 41px;
  flex-shrink: 0;
  border-radius: 9px;
  background: #0091D5;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.addWordButton:hover{
  background: rgba(0, 0, 0, 0.60);
}
.addWordLink{
  color: #FFF;
  text-decoration: none;
}

.Word{
  margin-bottom: 5px;
}

.wordLink {
  color: #000;
  text-decoration: none;
}
.wordLink:visited{
  color: #000;
  text-decoration: none;
}
.wordLink:hover{
  color: #FBBB10;
}
.HeaderLeft {
  display: flex;
}
.universal_bold_title_back {
  font-family: SF UI Display Bold !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 32px !important;
  line-height: 39px !important;
  float: left;
  margin-bottom: 18px !important;
  color: #080809 !important;
  opacity: 0.5;
}
.GoBackIcon:hover circle{
  fill: white;
}
.GoBackIcon {
  margin-right: 22px;
}
.WordTitle{
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
.CategoryMain{
    display: flex;
    justify-content: flex-start;
    width: 600px;
    flex-wrap: wrap;
}
.CategoryBlock {
  width: 155px;
  height: 58px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 20px;
  border-top: 2px solid #000;
  margin-left: 43px;
  cursor: pointer;
}
.CategoryBlock:hover{
  color: #0091D5;
  border-top: 2px solid #0091D5;
}
.CategoryBlockSelected{
  color: #0091D5;
  border-top: 2px solid #0091D5;
}